.stats-card{
    flex:1;
    background:#fff;
    border:1px solid #ececec;
    border-radius:18px;
    padding:28px;
    transition:.25s;
}

.stats-card:hover{
    transform:translateY(-5px);
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.stats-card h2{
    color:#f39c12;
    margin-bottom:10px;
    font-size:34px;
}

.stats-card p{
    color:#777;
    font-size:15px;
}