.custom-input{
    width:100%;
    padding:16px 18px;
    border:1px solid #2e2e2e;
    border-radius:14px;
    background:#1a1a1a;
    color:#fff;
    font-size:15px;
    outline:none;
    transition:.25s;
}

.custom-input::placeholder{
    color:#777;
}

.custom-input:focus{
    border-color:#f39c12;
    box-shadow:0 0 0 4px rgba(243,156,18,.12);
}

.custom-input:hover{
    border-color:#555;
}